
<ion-content [fullscreen]="true">

  <div class="login">
    <h1>Bienvenido al Memotest</h1>
    <h2>¿Listo para desafiar tu memoria?</h2>

    <form class="needs-validation" [formGroup]="formLog">
      
      <h3>Correo</h3>
      <ion-input type="email" fill="outline" formControlName="email"></ion-input>

      <h3>Clave</h3>
      <ion-input type="password" fill="outline" formControlName="password"></ion-input>
    
      <p><span>Usuarios de acceso rápido</span></p>
      <div *ngIf="this.cargaFin == true; then mostrar else esperar"></div>
      <ng-template #mostrar>
        
        <ion-button class="quick" color="warning" expand="block" *ngFor="let item of arrayTestUsers" (click)="onQuickUser(item)">
          <ion-icon name="person-circle-outline"></ion-icon>{{item.perfil}}
        </ion-button>
      </ng-template>
      <ng-template #esperar>

        <ion-button class="quick" color="warning" expand="block" >Cargando usuario...</ion-button>
        <ion-button class="quick" color="warning" expand="block" >Cargando usuario...</ion-button>
        <ion-button class="quick" color="warning" expand="block" >Cargando usuario...</ion-button>
      </ng-template>

      <ion-button class="login" color="danger" expand="block" (click)="this.iniciarSesion()">Iniciar Sesión</ion-button>
    </form>
  </div>
</ion-content>

