* {
    margin: 0;
    padding: 0;
}

ion-content {
    --background: var(--ion-color-success);
    --overflow: hidden;
}

ion-input {
    width: 96%;
    margin-left: 2%;
    bottom: 1rem;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--ion-color-dark);
    --background: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ion-button.quick {
    display: block;
    width: 94%;
    margin-left: 3%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    --box-shadow: none;
    height: 60px;
    font-size: 1.2rem;
    text-transform: initial;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ion-button.login {
    display: block;
    width: 98%;
    margin-left: 1%;
    margin-top: 2rem;
    height: 90px;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

span {
    margin-bottom: 4rem;
}

form {
    margin-top: 3rem;
}

div.login {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #ffffff00;
}

h1 {
    margin-top: 15%;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--primary-color);
    color: black;
}

h2 {
    color: var(--ion-color-secondary);
    margin-left: 10px;
    font-size: 26px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3 {
    color: var(--ion-color-secondary);
    margin-left: 10px;
    margin-bottom: 32px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    width: 100%;
    text-align: center;
    color: var(--ion-color-dark);
    line-height: 0.5em;
    font-size: 16px;
    span {
        background: none;
        padding:0 10px;
    }
}