* {
    margin: 0;
    padding: 0;
}

ion-content {
    --background: var(--ion-color-tertiary);
    --overflow: hidden;
}

ion-title {
    margin-left: 20px;
}

h1 {
    margin-left: 21%;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--primary-color);
    color: #ffffffea;
}

h2 {
    margin-top: 50px;
    margin-bottom: 10px;
    //Posicion center
    margin-left: 10px;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--primary-color);
    color: var(--ion-color-secondary)
}

div.menu {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #ff000000;
}

ion-button.element {
    display: block;
    height: 90px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5%;
    margin-top: 7%;

    font-size: 20px;
    font-weight: 600;

    --box-shadow: none;

    border: solid var(--ion-color-light);
    border-radius: 7px;
}